* {
  box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 0px;
  height: 900px; /* Should be removed. Only for demonstration */
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
h2{
  color: rgb(252, 158, 36);
  font-weight: bolder;
  text-align: center;
}
h1{
  color: white;
}
h3 {
  color: white;
}
ul{
  list-style-type:none;
  
}
.education{
  color: brown;
}
img {
  border-radius: 20%;
 
}
.leftimg{
    display: flex;
    justify-content: center;
}
.clip-star {
  background: rgb(241, 168, 10);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  display: inline-block;
  height: 15px;
  width:15px;
}
.rightheader{
  
    font-weight: bold;
    text-align: center;
    height: 130px;
    width:680px ;
    background-color: rgb(252, 158, 36);
    margin: 0%;
    padding: 4px;

}
ul.task{
    list-style-type: square;
    font-size: 20px;

}
a:link {
  color: rgb(243, 234, 234);
}

/* visited link */
a:visited {
  color: rgb(234, 237, 234);
}

/* mouse over link */
a:hover {
  color: rgb(160, 146, 153);
}

/* selected link */
a:active {
  color: blue;
}
.body{
  padding: 8px;
}