.container{
    width: 800px;
    height: 800px;
    border: solid black 3px;
    background-color: rgb(197, 201, 201);
    margin: auto;

  padding: 10px;
}

h1, h2{
    text-align: center;
}

table
{
    width: 100%;
    border: 1px solid black;
    
}
th{
    text-align: center;
    border: 1px solid black;
    width: 10%;
}
td{
    
    border: 1px solid black;
}

.contactme{
    border: 1px solid black;
    background-color: #f8f8f8;
    height: 200px;
    width: 100%;
}
input[type=text] {
  width: 200px;
  padding: 12px;
  border: 1px solid #ccc;
  padding: 16px 32px;
  
}
.name {
    margin-top: 10px;
}
textarea{
width: 20%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  
}
.msg{
    margin-top: 20px;
}
 input[type=submit] {
 background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  margin-top: 20px;
 
  
}